@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('./fonts/glyphicons-halflings-regular.eot');
    src: url('./fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('./fonts/glyphicons-halflings-regular.woff') format('woff'), url('./fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('./fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
    font-family: 'CNN Sans Display Regular';
    src: url('./fonts/CNNSansDisplay-Regular.eot');
    src: url('./fonts/CNNSansDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/CNNSansDisplay-Regular.woff') format('woff'), url('./fonts/CNNSansDisplay-Regular.ttf') format('truetype'), url('./fonts/CNNSansDisplay-Regular.svg#CNNSansDisplay-Regular') format('svg');
}


/* JW STYLES */

.jw-display-container {
    display: table-cell !important;
}

.jw-group {
    display: table-cell !important;
}

.jw-aspect .jw-reset {
    padding-top: 83%;
}

.jw-display {
    display: table !important;
}

.jw-display-controls {
    display: inline-block !important;
}

.jw-captions.jw-captions-enabled {
    display: block !important;
}

.vjs-volume-menu-button.vjs-menu-button-inline {
    width: 12em;
}

.vjs-volume-menu-button.vjs-menu-button-inline .vjs-menu {
    opacity: 1;
}

.jw-controls,
.jw-overlays {
    z-index: 2;
}


/*
  main widget
*/

.smb-vidad {
    /* max-width: 400px; */
    /* min-width: 300px; */
    width: 300px;
    min-height: 300px;
    font-family: 'CNN Sans Display Regular', 'Helvetica Neue', 'Arial', sans-serif;
    position: relative;
    z-index: 0;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
}

#smb-vidad-header-text,
.smb-vidad-img-caption p,
.smb-vidad-img-caption-clickmore p,
.smb-vidad-img-caption-detail span,
.smb-vidad-img-caption-title,
#smb-vidad-footer-text {
    font-family: 'CNN Sans Display Regular' !important
}

#smb-vidad-footer-text,
.smb-vidad-header-suggest p {
    margin: 0;
    font-family: 'CNN Sans Display Regular' !important
}

.smb-vidad-header-suggest {
    height: auto;
}

.smb-vidad-header-suggest p {
    margin: 0;
    padding-bottom: 4px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.4vw;
    letter-spacing: 2px;
    font-family: 'CNN Sans Display Regular';
}

.smb-vidad-header {
    background-color: #101010;
    height: auto;
    width: 100%;
    display: table;
    padding: 5px 0 10px 0;
}

#smb-vidad-header-text {
    padding: 5px 0 9px !important;
    margin: 0 !important;
    color: #ffffff;
    font-size: 1.1em !important;
    line-height: 1.3em !important;
    text-align: center !important;
    display: block;
    letter-spacing: 1px;
    font-family: 'CNN Sans Display Regular' !important;
}

.smb-vidad-main-cont {
    margin: auto;
	max-width: 400px;
	height: 250px !important;
}

.smb-vidad-item-cont {
    height: 250px !important;
    background: #f7f7f7;
	position: absolute;
	bottom: 23px;
}

.smb-vidad-displayad-cont {
    margin: 0 auto;
    position: absolute;
    width: 100%;
}

.smb-vidad-loader {
    width: 42px !important;
    position: absolute;
    top: 52%;
    left: 45%;
}

.smb-vidad-adcont-backdrop {
    position: absolute;
    width: 100%;
    height: 250px;
    background-color: #353535;
    /* background: linear-gradient(-20deg, #F74D1A, #FD8038); */
    z-index: -2;
}

.smb-vidad-adcont-backdrop-logo {
    background-image: url('//saambaa.com/assets/image/smb-970-logo.png');
    width: 213px;
    height: 45px;
    background-size: 213px 45px;
    position: absolute;
    bottom: 50%;
    left: 14%;
    z-index: -1;
}

.smb-vidad-adcont-backdrop-text {
    color: white;
    position: absolute;
    top: 54%;
    left: 31%;
    z-index: -1;
    font-size: 19px;
    font-weight: 100;
}

.smb-vidad-footer-cont {
    height: 23px;
    text-align: right !important;
    display: table !important;
    width: 100%;
<<<<<<< HEAD
    padding-top: 3px;
=======
    padding: 2px 0;
>>>>>>> 7206d73f97cb56a0a6ddd045fafa008f0ee312ab
}

#smb-vidad-footer-text {
    margin: 0;
    padding: 0;
    text-align: right;
    font-family: 'CNN Sans Display Regular';
    font-size: 14px;
    color: #bdbec3;
}

.smb-vidad-powered-by {
    display: table-cell !important;
    vertical-align: middle !important;
    font-size: 14px !important;
    color: #bdbec3 !important;
    padding-right: 10px !important
}

.smb-vidad-powered-by img {
    vertical-align: top;
    float: right !important;
    margin: 0 0 0 3px !important;
}

.smb-vidad-item {
    max-width: 400px;
    height: 250px !important;
    overflow: hidden;
    position: relative;
}

.smb-vidad-item a:visited {
    text-decoration: none;
}


.smb-vidad-item img {
	width: 150%;
	height: auto;
	position: relative;
	max-width:  unset;
	left: -25%;
}

.smb-vidad-img-caption-clickmore {
    position: absolute;
    bottom: 107px;
    left: 0;
    margin-right: 10px;
    margin-bottom: 0px !important;
    padding: 4px 20px 4px 14px;
    background: #fff;
    color: #000;
    font-size: .9em !important;
    border-top-right-radius: 4em;
    border-bottom-right-radius: 4em;
    visibility: hidden;
    text-align: left;
    line-height: 1em;
    font-weight: normal;
}

.smb-vidad-img-caption-clickmore p {
    margin: 0;
    margin-bottom: 0px !important;
    font-family: 'CNN Sans Display Regular' !important;
    font-size: .9em !important;
    line-height: normal !important;
}

.smb-vidad-img-caption-cont {
    position: absolute;
    bottom: 20px;
    left: 0;
    margin-right: 15px;
    padding: 5px 14px;
    padding-right: 25px;
    background: #fff;
    color: #000;
    border-top-right-radius: 4em;
    border-bottom-right-radius: 4em;
    visibility: hidden;
    text-align: left;
}

.smb-vidad-img-caption {
    visibility: hidden;
}

.smb-vidad-img-caption p {
    padding: 0 0 3px 0;
    margin: 0;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    font-family: 'CNN Sans Display Regular' !important;
    margin-bottom: 0px !important;
    font-weight: normal;
}

.smb-vidad-img-caption-title {
    font-size: .9em !important;
    line-height: 1.1em !important;
    max-height: 3.3em;
    color: #474747 !important;
}

.smb-vidad-img-caption-detail {
    font-size: .8em !important;
    line-height: 1em !important;
    max-height: 2em;
    color: #7e8393 !important;
}

.smb-vidad-img-caption-detail span {
    color: #a3a3a3;
    font-style: italic;
    font-size: .7em;
    line-height: 1.5em;
    font-weight: normal;
    font-family: 'CNN Sans Display Regular';
}

@keyframes smb-kenburns {
    from {
        transform: translate(0%, 20%) scale(1.4)
    }
    to {
        transform: translate(40%, 25%) scale(2)
    }
}

.smb-vidad-markets {
    display: block;
    padding: 0 30px;
}

.smb-vidad-markets select {
    margin: 0;
}

.smb-vidad-adcont {
    background: #000;
    max-width: 400px;
    height: 250px !important;
    display: none;
}

.smb-vidad-adunit-cont {
    text-align: center;
}

.vjs-dock-text {
    display: none;
}

.video-js.vjs-mouse .vjs-big-play-button {
    display: none;
}


/*
  market select overrides for select.css.
*/

.custom-select {
    padding: 0 5px;
}

.custom-select:hover {
    border: none;
}

.custom-select select {
    margin: 2px 6px;
    text-transform: uppercase;
    font-size: .9em;
    padding: 0 10px;
    line-height: 20px;
    height: 22px;
}

.custom-select::after {
    font-family: "Glyphicons Halflings";
    color: #444855;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e252";
    margin-top: -9px;
}

.custom-select select,
.custom-select select:focus {
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -khtml-border-radius: 16px;
    border-radius: 16px;
}

.custom-select select:focus {
    box-shadow: none;
}

.staticCaption {
    visibility: visible !important;
}

/* Animations */

@keyframes fadeIn {
    from {
        transform: scale3d(0, 0, 0);
        opacity: 0;
    }
    80% {
        transform: scale3d(1.05, 1.05, 1.05);
        opacity: 1;
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1.5s;
    visibility: visible !important;
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible !important;
        ;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInLeft {
    animation-name: slideInLeft;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible !important;
}

@keyframes slideInUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    animation-name: slideInUp;
    -webkit-animation-name: slideInUp;
    animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    visibility: visible !important;
}

